body {
    font-family: 'Noto Sans Arabic', sans-serif;
    background: #222;
    color: #fff;
    text-align: center;
    padding: 50px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 22px;  /* گەورەترکردنی نووسین */
    font-weight: bold; /* بۆلدکردنی نووسین */
    min-height: 100px;
}


button {
       font-size: 22px;  /* گەورەترکردنی نووسین */
    font-weight: bold; /* بۆلدکردنی نووسین */
    min-height: 70px;
    background: #f39c12;
    color: #222;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background: #e67e22;
}
